@font-face {
  font-family: montserrat;
  src: url('/assets/fonts/montserrat.ttf');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: montserrat, ui-sans-serif, serif !important;
  }
}
